#tab_client
{
    width: 70%;
    margin: auto;
}

caption
{
    caption-side: top;
    text-align: center;
    font-size: large;
    color: red;
}

#tab_produit
{
    width: 70%;
    margin: auto;
}

#Options
{
    text-align: center;
}